* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    
}
body{
    background: #634c4c;

}


.responsiveCanvas{
    width: 50%;
    margin: 0;

}
#gameCanvas{
display: flex;
    justify-content: center;


}
.secction{
    margin-top: 15px;
}
 
#scoreText{
    color: white;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 4px #000000;

}

.fa-volume-off{
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;

}

.cont{

    display: grid;
    justify-content: center;
    width: 100vw;
    height: 100vh;



}


.btn {
    box-shadow: 1px 1px 1px #000;

  }

#conteudo{
    display: grid;
    justify-content: center;
    padding: auto auto;
    margin: 30px;

}

#score{
    font-weight: 500;
    font-size: 20px;
    text-align: center;

}

#directionContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 10px;
    object-fit: cover;

}
.direction{
    text-align: center;
    width: auto;
    height: auto;
    box-shadow: 2px 2px 5px #000;

}
#playerAndPlay{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    column-gap: 150px;

}

#top,
#bottom
{
    text-align: center;
    width: auto;
    height: auto;
}

#left, #right ,#espaco{
    width: auto;
    height: 50px;

}

#play{
    width: auto;

}

@media (max-width:500px ){
 
    #top, #bottom,#left,#right,#espaco{
        width: 120px;
        height: 100px;
    }
}